<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="./css/iBtn.css" rel="stylesheet"/>
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.min.js"></script>
		<script type="text/javascript" src="js/iBtn.js"></script>
		<script>
			var app = angular.module('ngApp', []);
			app.controller('IndexCtrl', ['$scope', '$http', function($scope, $http) {
				$scope.request = function(dom) { 
					var domain = "http://47.106.249.172:6777", 
					api = "/api/test"; 
					$http({
						method: 'GET',
						url: domain + api
					}).then(function(res) {
						setTimeout(function() { 
							try {
								if (dom.dispatchEvent && dom.responseEv) { 
									console.log(dom.responseEv instanceof Event);
									dom.dispatchEvent(dom.responseEv); 
									console.log(dom.responseEv);
								} else { 
									dom.fireEvent(dom.responseEv); 
								}
							var d = document.getElementById("div");
							var ev = new Event("test");
							d.addEventListener("test", function() {
								console.log("div ev");
							});
							console.log(ev);
							d.dispatchEvent(ev);	
							} catch(e) {
								console.log(e);
							}
							
						}, 1000); 
					}, function(err) {
						setTimeout(function() { 
							if (dom.dispatchEvent) {
								dom.dispatchEvent(dom.responseEv);
							} else {
								dom.fireEvent(dom.responseEv);
							}
						}, 1000);
					});
				}
				
				$scope.onInit = function() {
					console.log("Dom load complete!");
//					var b1 = new iBtn(document.getElementById('btn123'));
//					b1.init();
//					b1.bindApi($scope.request);
					var iBtnInstances = iBtn.init();
					for (var i in iBtnInstances) {
						(function(i) { 							
							iBtnInstances[i].bindApi($scope.request, i.dom);
						})(i);
					}
					
					$scope.trigger = function() {
						var ins = iBtnInstances["btn123"].dom;
						ins.dispatchEvent(ins.clickEv);
					}
					$scope.trigger2 = function() {
						var ins = iBtnInstances["btn123"].dom;
						ins.dispatchEvent(ins.responseEv);
					}
				}
				
				
 			}]);
		</script>
	</head>
	<body ng-app="ngApp" ng-controller="IndexCtrl" ng-init="onInit()">
		<header>
			<p>iBtn.js</p>
			<p>A smart button</p>
		</header>
		<div id="div"></div>
		<section class="vw">
			<button class="ibtn" content="b1" color="#FF4040" id="btn123"></button>
			<button class="ibtn" content="b2" color="#FF6A6A"></button>
			<button class="ibtn" content="b3" color="#FF7F24"></button>
			<button class="ibtn" content="b4" color="#FF83FA"></button>
			<button class="ibtn"></button>
			<button ng-click="trigger()">click</button>
			<button ng-click="trigger2()">cancel</button>
		</section>
	</body>
	<script>
		/**
		 * jQuery 测试
		 * @param {Object} dom
		 */
//		function request(dom) { 
//			var domain = "http://47.106.249.172:6777", 
//				api = "/api/collections"; 
//				$.ajax({ 
//					type: "get", 
//					url: domain + api, 
//					async: true, 
//					success: function() { 
//						setTimeout(function() {
//							dom.dispatchEvent(dom.responseEv); 
//						}, 1000); 
//					}, 
//					error: function() { 
//						setTimeout(function() { 
//							dom.dispatchEvent(dom.responseEv); 
//						}, 1000); 
//					} 
//				}); 
//		}
		
////		iBtn.init();
//		var b1 = new iBtn(document.getElementById('btn123'));
//		
//		b1.bindApi(request);
	</script>
</html>
